<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970497014494-0o827s4gn9galgsa92ekm3e936kshl94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970497014494-0o827s4gn9galgsa92ekm3e936kshl94</string>
	<key>API_KEY</key>
	<string>AIzaSyDREBjlHO2K2auY3ymgMP4a0kxU7_MyImc</string>
	<key>GCM_SENDER_ID</key>
	<string>970497014494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COMBBSCComp171P-013.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-6b8fe</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-6b8fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970497014494:ios:575d690dbb2077f7</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-6b8fe.firebaseio.com</string>
</dict>
</plist>